.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1/1;

    min-width: 256px;
    max-width: min(75vh, 75vw);
    max-height: min(75vh, 75vw);
}


.tile {
    width: 100%;
    height: 100%;
    background-color: #F0D9B5;
    position: relative;
    box-sizing: content-box;
    user-select: none;
}

.tile.dark {
    background-color: #B58863;
}

.tile.selected {
    outline: 10px solid red;
    outline-offset: -5px;
    z-index: 10000;
}

.tile.highlighted {
    background-color: rgb(236, 191, 107);
}

.tile.dark.highlighted {
    background-color: rgb(254, 132, 88);
}

.piece-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 621;
}

.tile-img  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 619;
    pointer-events: none;
}

.tile-dot, .tile-cross, .tile-ring {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 620;
    opacity: 0.4;
}

.tile.origin {
    background-color: rgb(255, 123, 75);
}

.tile.origin.dark {
    background-color: rgb(226, 85, 33);
}

.tile.destination {
    background-color: rgb(255, 123, 75);
}

.tile.destination.dark {
    background-color: rgb(226, 85, 33);
}

.tile.check {
    background-color: #880808;
}


.tile-dot {
    scale: 0.5;
}

.tile-cross {
    scale: 1;
}

.tile-effects {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10000;
    user-select: none;
    pointer-events: none;
}

.tile-effects > * {
    height: 50%;
    aspect-ratio: 1/1;
}

#dragging-piece {
    display: none;
    position: absolute;
    z-index: 621000;
    pointer-events: none;
}

.cards {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    padding: 20px;
    gap: 16px;
    height: 75vh;
    background-color: #2e2953;
    margin-left: 20px;
}

.card {
    border: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 40px 3fr 1fr;

    width: 100%;
    aspect-ratio: 3/4;
    background-color: #a297fc;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card-top {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 40px;
    background-color: #695adc;
    display: grid;
    place-content: center;
}

.card img {
    display: block;
    width: 70%;
    margin: 0 auto;
    aspect-ratio: 1/1;
}

.card:hover {
    opacity: 0.75;
}


