.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    aspect-ratio: 1/1;

    min-width: 256px;
    max-width: min(75vh, 75vw);
    max-height: min(75vh, 75vw);
}

.game-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.game-content > * {
    flex-grow: 1;
    flex-shrink: 1;
}

.tile {
    width: 100%;
    height: 100%;
    background-color: #F0D9B5;
    position: relative;
    box-sizing: content-box;
    user-select: none;
}

.tile-row-marker, .tile-column-marker  {
    position: absolute;
    z-index: 100000000;
    font-size: 16px;
    text-align: center;
    pointer-events: none;
    user-select: none;
    font-family: Lato, sans-serif;
    font-weight: bolder;
    color: #110e24;
    translate: 15% 0;
}

.tile-row-marker-black-pov, .tile-column-marker-black-pov {
    position: absolute;
    z-index: 100000000;
    font-size: 16px;
    text-align: center;
    pointer-events: none;
    user-select: none;
    font-family: Lato, sans-serif;
    font-weight: bolder;
    color: #110e24;
    right: 0;
    bottom: 0;
    translate: -15% 0;
}

.tile-column-marker {
    bottom: 0;
}

.tile-column-marker-black-pov {
    top: 0;
}

.tile.dark {
    background-color: #B58863;
}

.tile.selected {
    outline: 10px solid red;
    outline-offset: -5px;
    z-index: 10000;
}

.tile.highlighted {
    background-color: rgb(236, 191, 107);
}

.tile.dark.highlighted {
    background-color: rgb(254, 132, 88);
}

.piece-img {
    position: absolute;
    display: block;
    width: 93px !important;
    height: 100%;
    z-index: 621;
}

.tile-img  {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 619;
    pointer-events: none;
}

.tile-dot, .tile-cross, .tile-ring, .tile-dot-red, .tile-cross-red {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 620;
    opacity: 0.4;
}

.tile.origin {
    background-color: rgb(255, 123, 75);
}

.tile.origin.dark {
    background-color: rgb(226, 85, 33);
}

.tile.destination {
    background-color: rgb(255, 123, 75);
}

.tile.destination.dark {
    background-color: rgb(226, 85, 33);
}

.tile.check {
    background-color: #880808;
}

.tile.select {
    background-color: #ea7c68;
}

.tile.select.dark {
    background-color: #d36c50;
}


.tile-dot, .tile-dot-red {
    scale: 0.5;
}

.tile-dot-red, .tile-cross-red {
    opacity: 0.7;
}

.tile-cross, .tile-cross-red {
    scale: 1;
}

.tile-effects {
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    z-index: 10000;
    user-select: none;
    pointer-events: none;
}

.tile-effects > * {
    height: 50%;
    aspect-ratio: 1/1;
}

#dragging-piece, #dragging-piece2 {
    display: none;
    position: absolute;
    z-index: 621000;
    pointer-events: none;
}

aside {
    max-width: 35vw;
    display: flex;
    flex-direction: column;
    height: 75vh;
    margin-left: 10px;
    overflow: hidden;
}

.button-array {
    background-color: #181533;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    gap: 10px;
}

button {
    border: none;
    background-color: #695adc;
    font-size: 16px;
    color: white;
    padding: 0 25px;
    border-radius: 6px;
    width: 100%;
    display: grid;
    place-content: center;
}


button:hover {
    background-color: #4f43aa;
    cursor: pointer; 
}


.cards {
    position: relative;
    height: 100%;
    width: 100%
}


.cards-container {
    display: grid;
    position: absolute;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #a297fc #181533;
    width: 100%;
    height: calc(100%);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 16px 16px 50px;
    grid-auto-rows: max-content;

    background-color: #2e2953;

}

.cards-settings {
    position: absolute;
    bottom: 8px;
    right: 20px;
    z-index: 100;
    display: flex;
    gap: 8px;
}


.cards-settings > button {
    padding: 0;
    width: auto;
    aspect-ratio: 1/1;
    width: 40px;
    font-size: 24px;
}

.card {
    border: none;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 40px 3fr 1fr;

    width: 100%;
    aspect-ratio: 3/4.25;
    background-color: #a297fc;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    padding: 0;

}

.card-top, .modal-top {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 40px;
    background-color: #695adc; /* default */
    display: grid;
    place-content: center;
}

.card-top-text, .modal-top-text {
    font-family: "Lato", sans-serif;
    width: 100%;
    height: 40px;
    display: grid;
    place-content: center;
    position: absolute;
}

.card img {
    display: block;
    width: 70%;
    margin: 0 auto;
    aspect-ratio: 1/1;
}

.card:hover {
    opacity: 0.75;
}

.anim {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 60000000;
    pointer-events: none;
}

.log {
    min-width: 200px;
    width: 100%;
    height: min(25vh, 25vw);
    border: 2px solid #a297fc;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: auto;
    scrollbar-width: thin;
    scrollbar-color: #a297fc #181533;
}

.log-entry {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 14px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-style: italic;
    animation: log-entry-animation 0.25s ease-out forwards;
    opacity: 0.5;
}

@keyframes log-entry-animation {
    from {
        translate: 50px 0;
        opacity: 0.5;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }

}

.log-entry:nth-of-type(2n + 1) {
    background-color: #2e2953;
}

.log-entry:nth-of-type(2n) {
    background-color: #181533;
}

.log::-webkit-scrollbar{
    width: 5px !important;
}

.log-node {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 2px;
    aspect-ratio: 1/1;
}

.log-entry.white .log-node, .log-entry.white_move .log-node {
    background-color: white;
}

.log-entry.black .log-node, .log-entry.black_move .log-node {
    background-color: black;
    border: 1.5px solid white;
}

.log-entry.console .log-node {
    background-color: yellow;
}

.log-entry.white_move > p, .log-entry.black_move > p {
   font-weight: 600;
   font-style: normal !important
}

.log-entry.white_move, .log-entry.black_move {
    box-sizing: content-box;
    margin-top: 15px;
}

.wait {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 10000000000000;
    top: 0;
    right: 0;
}

.wait > img {
    width: 100%;
    height: 100%;
    animation: hourglass 10s infinite;
    transform-origin: center center;
}

@keyframes hourglass {
    from {
        rotate: 0deg;
    }

    25% {
        rotate: 0deg;
    }

    50% {
        rotate: 180deg;
    }

    75% {
        rotate: 180deg;
    }

    100% {
        rotate: 360deg;
    }
}

.modal {
    width: 100%;
    height: 100dvh;
    position: absolute;
    background-color: #110e2499;
    backdrop-filter: blur(2px);
    z-index: 621000000;
    place-content: center;
    display: grid;

}

.modal-content {
    position: relative;
    width: 100vw;
    max-width: 500px;
    border-radius: 10px;
    border: 5px solid white;
}

.modal-top, .modal-top-text {
    width: 100%;
    height: 50px;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    padding: 20px;
    margin-bottom: 50px;
}

.modal-text {
    margin-top: 50px;
    padding: 10px;
}

.modal-close {
    width: 64px;
    height: 64px;
    z-index: 100000;
    position: absolute;
    right: -24px;
    top: -24px;
    border-radius: 16px;
    border: 5px solid white;
    font-size: 28px;
}

